/* Import the font "Dosis" that's used */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

/* everything on the page */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: 1s;
}

body,
html {
    font-size: 2.3vh;
    background-color: #282C36;
    font-family: Dosis;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    transition: 1s;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: min(3rem, 40px);
    transition: 1s;
}

.navbar_title {
    display: inline-block;
    padding: 0 1rem;
    font-size: 100%;
    height: 100%;
}

.navbar_title_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.themeSwitcher {
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 0.5rem;
    cursor: pointer;
}

.themeSwitcher>i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 1s;
    transform: rotate(90deg);
}


/* 
Deny page 
*/

.deny_icon {
    color: #5b66aa;
    font-size: 7.5rem;
}


/* 
Applications list
*/

.app_permit_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_permit_container_inner {
    background-color: #181C26;
    min-width: 400px;
    height: min-content;
    text-align: center;
    padding: 1rem;
    border-radius: 0.25rem;
    width: min-content;
}

p {
    text-align: center;
}

.emphasize {
    filter: brightness(1.5);
    font-size: 1.125em;
}

.perm_table {
    font-size: 1.25rem;
    text-align: left;
}

.perm_table i {
    font-size: 1.5rem;
}

.fa-circle-check {
    color: #5b66aa;
}

#info_container {
    text-align: left !important;
}

#buttons_container {
    position: relative;
    height: 2rem;
}

#permit_button {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    background-color: #5b66aa;
    border: 0;
    border-radius: 0.25rem;
    color: #dddddd;
    cursor: pointer;
}

#back_button {
    position: absolute;
    left: 0;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}


/* 
Account config
*/

.account_item {
    width: 440px;
    min-height: 330px;
    border-radius: 1rem;
    margin: 0.5rem 0.5rem;
}

.account_container {
    padding: 1rem;
}

p {
    border-radius: 1rem;
    width: 100%;
    padding: 0.25rem;
    word-wrap: break-word;
}

.sensitive_data {
    filter: contrast(0.5) blur(5px);
    transition: 0.3s;
    cursor: pointer;
}

.sensitive_data:hover {
    filter: contrast(1) blur(0);
}


/* Statusbox */

.status_container {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
}

.status_container * {
    font-size: 0.8rem;
}