:root {
    --text-color: #ffffff;
    --text2-color: #cccccc;
    --background-color: #282c36;
    --background2-color: #181c26;
    --background-light: #dedede;
    --accent-color: #3f48cc;
    --accent2-color: #7e84f7;
}

html,
body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition: 0;
    font-size: 100%;
    font-family: "Inter";
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    position: relative;
}