@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
* {
    text-decoration: none;
    color: #ffffff;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: #484e52;
    color: #ffffff;
}


/* Close icon */

.close-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0;
}

.close-icon i {
    color: #5b66aa;
}


/* 
Main container
*/

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "tabs portal";
    height: 100%;
    width: 100%;
}

.tabs {
    grid-area: tabs;
}

ul {
    list-style: none;
    padding-left: 0.5em;
}

li {
    padding: 1rem;
    margin: 0.1em;
    border-radius: 1rem;
}

li:hover {
    background-color: #484e52;
    cursor: pointer;
}

li i {
    margin-right: 1.5em;
}

.portal {
    grid-area: portal;
    font-size: 0.75rem;
    margin-left: 1rem;
    background-color: #383e42;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    height: max-content;
}

.portal a {
    text-decoration: underline;
    cursor: pointer;
}

.portal>div {
    margin-top: 5em;
}

.details {
    background-color: #484e52;
    min-width: 650px;
    width: min-content;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.1px;
}

p {
    background-color: #383e42;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0;
    width: calc(100% - 1rem);
    margin-bottom: 0.5rem;
}

.button_warning {
    background-color: #dd0012;
    border: 0px;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button_inactive {
    background-color: #383e42;
    border: 0px;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button_active {
    background-color: #5b66aa;
}

.sensitive_data {
    filter: contrast(0.5) blur(5px);
    cursor: pointer;
}

.sensitive_data:hover {
    filter: contrast(1) blur(0);
}


/* Statusbox */

.status_container {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
}

.status_container * {
    font-size: 0.8rem;
}